<div class="content_area">

	<div class="tables_area">
		<!-- <h2 class="pull-left">Members Management</h2> -->
		<div class="automatic pull-right" >
			<div class="form-group">
			<label class="text-uppercase">Automatic Validation</label>
			<!-- <form  [formGroup]="myForm"> -->
				<div class="form-group">
			<div class="custom_select">
				<select [(ngModel)]="validate" (change)="modo($event.target.value)">
					<option value="true">On</option>
					<option value="false">Off</option>
				</select>
			</div>
				</div>
		<!-- 	</form> -->
		</div></div>
		<div class="clear"></div>

		<ul class="sorted_tabs">
			<li><a href="javascript:void(0);" (click)="Pending()">Pending</a></li>
			<li><a href="javascript:void(0);" (click)="Report()">Reported</a></li>
			<li><a href="javascript:void(0);" (click)="Users()">Users</a></li>
		</ul>
<div class="clear"></div>
<h3 class="pull-left" *ngIf="pending && validate==true">Pending Users</h3>
<h3 class="pull-left" *ngIf="report">Reported Users</h3>
<h3 class="pull-left" *ngIf="users">Users List</h3>
<!-- /**********************Pending Tables********************/ -->

			<div class="table-responsive" *ngIf="pending && validate==true">
				<table  width="100%" cellspacing="0" cellpadding="0" id="" class="display">
					<thead>
						<tr >
							<th width="15%">Name</th>
							<th width="10%">Email</th>
							<th width="15%">Profile</th>
							<th width="10%">Gender</th>
							<th width="15%">Action</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let grouplist of pen_data">
							<td>{{grouplist.first_name}} {{grouplist.last_name}}</td>
							<td>{{grouplist.email}} </td>
							<td>
								<img  src="{{grouplist.profile_image}}" alt="" style="height:75px;width: 75px;border-radius: 100%;" />
								
							</td>
							<td>{{grouplist.gender}}</td>
							<td>
								<div class="success_action table_success_action">
									<a class="accept_request" (click)="accept(grouplist._id)">Accept</a>
									<a (click)="cancel(grouplist._id)">Cancel</a>
								</div>
							</td>


						<div class="modal fade" id="accept" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">  
		     <div class="modal-body text-center">
		      	<p>Are you sure you want to add this user?</p>
		      	<a class="blue_btn" (click)="AcceptReject('A',grouplist._id)">Yes</a>
		      	<a class="blue_btn" data-dismiss="modal">No</a>
		      </div>
		       </div>
		  </div>
		</div>

		<div class="modal fade" id="reject" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">  
		     <div class="modal-body text-center">
		      	<p>Are you sure you want to remove this user?</p>
		      	<a class="blue_btn" (click)="AcceptReject('C',grouplist._id)">OK</a>
		      	<a class="blue_btn" data-dismiss="modal">Cancel</a>
		      </div>
		       </div>
		  </div>
		</div>

						</tr>

					</tbody>
				</table>

			</div>

<!-- /**********************ReportedTables********************/ -->


					<div class="table-responsive" *ngIf="report">
				<table width="100%" cellspacing="0" cellpadding="0" id="" class="display">
					<thead>
						<tr>
							<th width="15%">Name of Group</th>
							<th width="10%">Number of members</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>ghgh</td>
							<td>ghgh</td>
							


							<div class="modal fade" id="request" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
								<div class="modal-dialog" role="document">
									<div class="modal-content">
										<div class="modal-body text-center">
											<p>Are you sure you want to Delete?</p>
											<a class="blue_btn" (click)="RemoveComm()">Yes</a>
											<a data-dismiss="modal" class="blue_btn">No</a>
										</div>
									</div>
								</div>
							</div>

						</tr>

					</tbody>
				</table>

			</div>

<!-- /**********************Users Tables********************/ -->

<div class="table-responsive" *ngIf="users">
				<table  width="100%" cellspacing="0" cellpadding="0" id="" class="display" >
					<thead>
						<tr>
							<th width="15%">Name</th>
							<th width="15%">Email</th>
							<th width="10%">Gender</th>
							<th width="15%">Profile</th>
							<th width="15%">Action</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let grouplist of 
						user_data">
							<td>{{grouplist.first_name}} {{grouplist.last_name}}</td>
							<td>{{grouplist.email}}</td>
							<td>{{grouplist.gender}}
							</td>
							<td>
								<img  src="{{grouplist.profile_image}}" alt="" style="height:75px;width: 75px;border-radius: 100%;" />
								
							</td>
							<td><a class="action_btn">
									<i class="fa fa-trash" aria-hidden="true" (click)="RemoveClick(grouplist._id)"></i>
								</a></td>


							<div class="modal fade" id="request" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
								<div class="modal-dialog" role="document">
									<div class="modal-content">
										<div class="modal-body text-center">
											<p>Are you sure you want to Delete?</p>
											<a class="blue_btn" (click)="AcceptReject('U','')">Yes</a>
											<a data-dismiss="modal" class="blue_btn">No</a>
										</div>
									</div>
								</div>
							</div>

						</tr>
                           <!--  <tr>
							<td>
								<mfBootstrapPaginator></mfBootstrapPaginator>
							</td>
						</tr> -->
					</tbody>
				</table>

			</div>

</div>
</div>

