<div class="content_area">

    <div class="tables_area">
        <a class="blue_btn yellow_btn pull-right text-uppercase" routerLink="/savedpolls" [routerLinkActive]="['router-link-active']">Saved</a>
        <div class="clear"></div>
        <h2>Add New Poll</h2>
        <div class="white_box">
            <form [formGroup]="myForm" >
                <div class="add_formarea">
                    <div class="row">
                        <aside class="col-sm-4">
                            <div class="form-group">
                                <label class="text-uppercase">Poll Title*</label>
                                <input type="text" id="PollTitle" value="" placeholder="Enter Title" class="form-control" formControlName="poll_title" [attr.maxlength]="50"
                                    required/>
                            </div>
                            <div *ngIf="myForm.get('poll_title').hasError('required') && myForm.get('poll_title').touched">
                                <div class="error" *ngIf="myForm.get('poll_title').hasError('required')  && myForm.get('poll_title').touched ">
                                    Title is required
                                </div>
                            </div>
                        </aside>
                         <aside class="col-sm-4">
                            <div class="form-group">
                                <label class="text-uppercase">END TIME*</label>
                                <div class="icon_input">
                                    <input [min]="min" class="form-control" [owlDateTimeTrigger]="dt5" [owlDateTime]="dt5" formControlName="end_time" placeholder="Select">
                                        <owl-date-time [pickerMode] = "'popup'" [pickerType]="'both'" #dt5></owl-date-time>
                                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                                </div>
                            </div>
                            <div class="error" *ngIf="!e_time_valid" >
                             <div class="error" [hidden]="e_time_valid"> 
                           END TIME is required 
                          </div>
                      </div>
                        </aside>
                    </div>
                    <div class="row">
                        <aside class="col-sm-8">
                            <div class="form-group">
                                <label class="text-uppercase">Question*</label>
                                <input type="text" id="pollQuestion" value="" placeholder="Enter Question" class="form-control" formControlName="question" [attr.maxlength]="50"
                                required/>
                            </div>
                            <div *ngIf="myForm.get('question').hasError('required') && myForm.get('question').touched">
                                <div class="error" *ngIf="myForm.get('question').hasError('required')  && myForm.get('question').touched ">
                                    Question is required
                                </div>
                            </div>
                        </aside>
                      
                    </div>
                    <div class="row">
                        <aside class="col-sm-8">
                            <div class="form-group">
                                <label class="text-uppercase">Options*</label>
                                <input type="text"  value="" placeholder="Enter Option" class="form-control" formControlName="question1" [attr.maxlength]="500"
                                required/>
                                </div>
                                <div *ngIf="myForm.get('question1').hasError('required') && myForm.get('question1').touched">
                                    <div class="error" *ngIf="myForm.get('question1').hasError('required')  && myForm.get('question1').touched ">
                                        Option  is required
                                    </div>
                                </div>
                                <div class="form-group">
                                <div class="input_fields_container">
                                    <div><input type="text" name="product_name[]" placeholder="Enter Option" class="form-control" formControlName="options" required>
                                         
                                    </div>
                                  </div>
                                  <button class="btn btn-sm btn-primary add_more_button blue_btn pull-right small_btn">Add More..</button>
                            </div>
                            <div *ngIf="myForm.get('options').hasError('required') && myForm.get('options').touched">
                                <div class="error" *ngIf="myForm.get('options').hasError('required')  && myForm.get('options').touched ">
                                    Second Option is required
                                </div>
                            </div>
                        </aside>

                     </div>
                    <div class="row">
                        <aside class="col-sm-6">
                    <div class="form-group">
                      <label class="text-uppercase">Poll Image*</label>
                      <p class="add_user">
                        <a data-backdrop="static" data-keyboard="false" (click)="openModal()">Browse</a>&nbsp;
                        <img *ngIf="browse" [src]="imageSrc" (load)="handleImageLoad()" [class.loaded]="imageLoaded" style="height:75px;width: 75px;border-radius: 100%;"
                        />
                        <img *ngIf="image" src="{{imageUrl}}" style="height:75px;width: 75px;border-radius: 100%;" />
                      </p>
                    </div>
                    <div class="error" *ngIf="!img_valid">
                      <div class="error" [hidden]="img_valid">
                        picture is required
                      </div>
                    </div>
      
                    <div class="error" *ngIf="!img">
                      <div class="error" [hidden]="img">
                        Only png/Jpeg Allowed
                      </div>
                    </div>
                  </aside>
                    </div>
                     <!-- gallery modal -->
          <div class="modal fade" id="gallerymodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-body select_users" style="height: 100%;
                  
    overflow: auto;">
                    <mat-tab-group>
                      <mat-tab label="Upload files">
                        <div class="table_box">
                          <div class="table_inner">
                            <p>Browse your file here</p>
                          
                          <input type="file" #fileupload (change)="onFileChange($event)" id="poll_image" />
                          </div>
                          <div class="error" *ngIf="!img">
                            <div class="error" [hidden]="img">
                              Only png/Jpeg Allowed
                            </div>
                          </div>
                        </div>
                        <div class="bottom_box text-right">
                          <button class="blue_btn" data-dismiss="modal">OK</button>
                        </div>
                      </mat-tab>
                      <mat-tab label="Media library">
                        <ul class="gallery_images">
                          <li *ngFor="let image of arryData.libraryImages; let i=index">
                            <div class="uppre">
                              <div class="img_outer">
                                <img src="{{image.image_name}}" (click)="checking(i,image.image_name)">
                              </div>
                            </div>
                          </li>
                        </ul>
                        <div class="bottom_box text-right">
                          <button class="blue_btn" data-dismiss="modal">OK</button>
                        </div>
                      </mat-tab>
                    </mat-tab-group>
                  </div>
                </div>
              </div>
            </div>


<!--  /**************************POLL SETTINGS********************/   -->  

<div class="meeting_box">
                    <h4>Poll Setting</h4>
                    <div class="row">
                        <aside class="col-sm-4">
                                <div class="form-group">
                                    <label class="text-uppercase">Multiple Choice</label>
                                    <div class="icon_input">
                                        <label class="radio_btn">
                                            <input type="radio" value="true" name="multiple"  (change)="Choice('true')">Yes
                                        </label>
                                        <label class="radio_btn">
                                            <input type="radio" value="false" name="multiple" [checked]="choice == false" (change)="Choice('false')">No
                                        </label>
                                    </div>
                                </div>
                            </aside>
                            
                            <aside class="col-sm-4">
                                <div class="form-group">
                                    <label class="text-uppercase">Hide Results After Voting</label>
                                       <div class="icon_input">
                                        <label class="radio_btn">
                                            <input type="radio" name="vote" value="true"  (change)="Voting('true')">Yes
                                        </label>
                                        <label class="radio_btn">
                                            <input type="radio" name="vote" [checked]="choice == false" value="false" (change)="Voting('false')" >No
                                        </label>
                                    </div>
                                </div>
                                
                            </aside>
                            <aside class="col-sm-4">
                                <div class="form-group">
                                    <label class="text-uppercase">Hide Results</label>
                                       <div class="icon_input">
                                        <label class="radio_btn">
                                            <input type="radio" name="data" value="true" (change)="HideResult('true')">Yes
                                        </label>
                                        <label class="radio_btn">
                                             <input type="radio" name="data" [checked]="choice == false" value="false" (change)="HideResult('false')" >No
                                        </label>
                                    </div>
                                </div>
                                
                            </aside>
                            </div>
                        </div>
                    



<!-- 
/**************************EnDPOLLSETTINGS********************/  -->   


  <!--  /**************************AfterVoting********************/   -->  

<div class="meeting_box">
                    <h4>Poll Sharing</h4>
                    <div class="row">
                        <aside class="col-sm-8">
                                <div class="form-group">
                                    <label class="text-uppercase">Share Details</label>
                                    <div class="icon_input">
                                        <label class="radio_btn">
                                            <input type="checkbox" value="true" formControlName="share_title">Title
                                        </label>
                                        <label class="radio_btn">
                                            <input type="checkbox" value="true" formControlName="share_question">Question
                                        </label>
                                        <label class="radio_btn">
                                            <input type="checkbox" value="true" formControlName="share_answer">Answers
                                        </label>
                                        <label class="radio_btn">
                                            <input type="checkbox" value="true" formControlName="share_results">Results
                                        </label>
                                       
                                    </div>
                                </div>
                            </aside>
                            </div>
                             <div class="row">
                            <aside class="col-sm-8">
                                <div class="form-group">
                                    <label class="text-uppercase">Platforms</label>
                                       <div class="icon_input">
                                        <label class="radio_btn">
                                            <input type="checkbox" name="data"formControlName="share_platform_facebook">Facebook
                                        </label>
                                        <label class="radio_btn">
                                            <input type="checkbox" name="data" formControlName="share_platform_whatsapp">WhatsApp
                                        </label>
                                        <label class="radio_btn">
                                            <input type="checkbox" name="data"  formControlName="share_platform_twitter">Twitter
                                        </label>
                                        <label class="radio_btn">
                                            <input type="checkbox" name="data" formControlName="share_platform_text">Text Messaage
                                        </label>
                                    </div>
                                </div>
                                
                            </aside>
                            </div>
                        </div>
                    



<!-- 
               /**************************EnD POLL SETTINGS********************/  -->  

                    
                    </div>
                    <button (click)="addPoll(myForm.valid,myForm.value,'S')" class="blue_btn yellow_btn text-uppercase">Save</button>
                    <button (click)="addPoll(myForm.valid,myForm.value,'A')" class="blue_btn yellow_btn text-uppercase">Publish</button>
                    <button class="blue_btn yellow_btn  text-uppercase" (click)="cancel()">Cancel</button>
            </form>
        </div>
    </div>
</div>



<style type="text/css">
    .error {
        color: red;
    }
</style>



<!-- http://plnkr.co/edit/ucKcXBA2zReWfBSQ8W7D?p=preview -->