<h2>Users</h2>

    <div class="content_area" style="background: #eaeaea;">
    <div class="top3_area">
                <div class="row">
                    <aside class="col-lg-4">
                        <div class="white_three" routerLink="/users" [routerLinkActive]="['router-link-active']">
                            <span style="background:#0cc2aa;"><i class="fa fa-venus-mars" aria-hidden="true"></i></span>
                            <p  class="text-uppercase">Users</p>
                        </div>
                    </aside>
                    <aside class="col-lg-4">
                        <div class="white_three" routerLink="/alumni" [routerLinkActive]="['router-link-active']">
                            <span style="background:#2e4485;"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                            <p class="text-uppercase">Alumni’s</p>
                        </div>
                    </aside>
                    <aside class="col-lg-4">
                        <div class="white_three" routerLink="/newmember" [routerLinkActive]="['router-link-active']">
                            <span style="background:#f1a732;"><i class="fa fa-list" aria-hidden="true"></i></span>
                            <p class="text-uppercase">New Members</p>
                        </div>
                    </aside>
                </div>
            </div>
        </div>

