<div class="content_area">

    <div class="tables_area">
        <h2>Change Password</h2>
        <div class="white_box">
            <form [formGroup]="myForm" novalidate (ngSubmit)="changePassword(myForm.valid)">
                <div class="add_formarea">

                    <div class="row">
                        <aside class="col-sm-6">
                            <div class="form-group">
                                <label class="text-uppercase">Email*</label>
                                <input type="text" id="email" value="" [pattern]="emailValidate" placeholder="Enter Email" class="form-control" formControlName="emailCheck" [attr.maxlength]="50"
                                    required/>
                                <!-- <span ng-show="myForm.submitted || myForm.group_name.touched">
                                <span ng-show="myForm.group_name.error.required"><font class="error">Current Password is required.</font></span>
                            </span> -->
                            </div>
                            <div *ngIf="myForm.get('emailCheck').hasError('required') && myForm.get('emailCheck').touched">
                                <div class="error" *ngIf="myForm.get('emailCheck').hasError('required')  && myForm.get('emailCheck').touched ">
                                    Email is required
                                </div>
                            </div>
                            <div *ngIf="myForm.get('emailCheck').hasError('pattern') && myForm.get('emailCheck').touched">
                                <div class="error" *ngIf="myForm.get('emailCheck').hasError('pattern')  && myForm.get('emailCheck').touched ">
                                    Invalid Email-Id
                                </div>
                            </div>
                        </aside>

                        <!-- <aside class="col-sm-6">
                        <div class="form-group">
                            <label class="text-uppercase">Add admin</label>
                            <input type="text" value="" placeholder="Select Admin" class="form-control" />
                            <p class="add_user text-right">
                                <a data-toggle="modal" data-target="#addadmin"><i class="fa fa-plus"></i> Add Admins</a></p>
                        </div>
                    </aside> -->
                    </div>
                    <div class="row">
                        <aside class="col-sm-6">
                            <div class="form-group">
                                <label class="text-uppercase">Current Password*</label>
                                <input type="password" id="current-password" value="" placeholder="Current Password" class="form-control" formControlName="currentpassword" [attr.maxlength]="50"
                                required/>
                            </div>
                            <div *ngIf="myForm.get('currentpassword').hasError('required') && myForm.get('currentpassword').touched">
                                <div class="error" *ngIf="myForm.get('currentpassword').hasError('required')  && myForm.get('currentpassword').touched ">
                                    Password is required
                                </div>
                            </div>
                        </aside>
                        </div>
                        <div class="row">
                        <aside class="col-sm-6">
                            <div class="form-group">
                                <label class="text-uppercase">New Password*</label>
                                <input type="password" id="password" value="" placeholder="New Password" class="form-control" formControlName="password" [attr.maxlength]="50" 
                                required/>
                            </div>
                            <div *ngIf="myForm.get('password').hasError('required') && myForm.get('password').touched">
                                <div class="error" *ngIf="myForm.get('password').hasError('required')  && myForm.get('password').touched ">
                                    Password is required
                                </div>
                                
                            </div>
                            <div class="error" *ngIf="myForm.get('password').hasError('minlength') && myForm.get('password').touched">
                               Password must be at least 6 characters long.
                              </div> 
                        </aside>
                    </div>

                    <button type="submit" class="blue_btn yellow_btn text-uppercase">Update</button>
                    <button class="blue_btn yellow_btn text-uppercase" (click)="cancel()">Cancel</button>

                </div>
            </form>
        </div>
    </div>
</div>



<style type="text/css">
    .error {
        color: red;
    }
</style>



<!-- http://plnkr.co/edit/ucKcXBA2zReWfBSQ8W7D?p=preview -->