	<div class="content_area">
			
			<div class="tables_area">
				<h2 class="pull-left">Recommendations</h2>
				<a  class="blue_btn yellow_btn pull-right text-uppercase"  routerLink="/requestrecomm" [routerLinkActive]="['router-link-active']">View Requests</a>
				<div class="clear"></div>
				<div class="white_box">
					<div class="table-responsive">
						<table width="100%" cellspacing="0" cellpadding="0" id="example">
							<thead>
								<tr>
									<th width="40%">User</th>
									<th width="40%">Profile</th>
									<th width="20%">Status</th>
									<!-- <th width="15%">ACTION</th> -->
								</tr>
							</thead>
							<tbody>
								<tr  *ngFor="let grouplist of data">
									<td>{{grouplist.user_id.first_name}} {{grouplist.user_id.last_name}}</td>
									<td *ngIf="grouplist.user_id.profile_image"><img src="{{grouplist.user_id.profile_image}}" alt="" style="height:75px;width: 75px;border-radius: 100%;"/></td>
									<td *ngIf="!grouplist.user_id.profile_image"><img src="../../assets/images/user.png" alt="" style="height:75px;width: 75px;border-radius: 100%;"/></td>
									<td *ngIf="grouplist.status=='R'">Canceled</td>
									<td *ngIf="grouplist.status=='A'">Approved</td>
									
									<!-- <td>
										<a  class="action_btn"><i class="fa fa-edit" aria-hidden="true" [routerLink]="['/editgroup', grouplist._id]" [routerLinkActive]="['router-link-active']"></i></a>
										<a  class="action_btn"><i class="fa fa-trash" aria-hidden="true" (click)="RemoveClick(grouplist._id)"></i></a>
									</td> -->

								</tr>
							
							</tbody>
						</table>
					</div>
				</div>
			</div>

		</div>
