<h2>Marriage</h2>

    <div class="content_area" style="background: #eaeaea;">
    <div class="top3_area">
				<div class="row">
					<aside class="col-lg-6">
						<div class="white_three" routerLink="/fiances" [routerLinkActive]="['router-link-active']">
							<span style="background:#0cc2aa;"><i class="fa fa-venus-mars" aria-hidden="true"></i></span>
							<p  class="text-uppercase">Marriage/Fiancés</p>
						</div>
					</aside>
				<!-- 	<aside class="col-lg-4">
						<div class="white_three" routerLink="/upcomingmarriage" [routerLinkActive]="['router-link-active']">
							<span style="background:#2e4485;"><i class="fa fa-calendar" aria-hidden="true"></i></span>
							<p class="text-uppercase">Marriage/Upcoming weddings</p>
						</div>
					</aside> -->
					<aside class="col-lg-6">
						<div class="white_three" routerLink="/weddinglist" [routerLinkActive]="['router-link-active']">
							<span style="background:#f1a732;"><i class="fa fa-list" aria-hidden="true"></i></span>
							<p class="text-uppercase">Marriage/Wedding List</p>
						</div>
					</aside>
				</div>
			</div>
		</div>

