.clear{clear:both;height:0;}
.content_area
{
	padding: 15px 15px 35px 15px;
	min-height: 100%;
	position: relative;
}
.tables_area .white_box
{
	padding: 0;
	box-shadow: 0 0 6px rgba(0,0,0,0.2);
	margin-top: 15px;
}
.relative_btn {
    position: relative;
}
span.counter_circle {
    position: absolute;
    width: 30px;
    background: #999;
    border-radius: 100%;
    top: -17px;
    right: -10px;
    height: 30px;
    color: #fff;
    text-align: center;
    font-size: 12px;
    line-height: 30px;
}

.blue_btn
{
	background: #F78C6A;
	border-radius: 5px;
	color: #fff !important;
	text-decoration:none !important;
	font-size: 14px;
	border: none;
	padding: 5px 22px;
	display: inline-block;
	line-height: 26px;
	margin-top: 20px;
	font-weight: 600;
}
.blue_btn:hover
{
	background: #999;
}
.blue_btn1
{
	background: #999;
	border-radius: 5px;
	color: #fff !important;
	text-decoration:none !important;
	font-size: 14px;
	border: none;
	padding: 5px 22px;
	display: inline-block;
	line-height: 26px;
	margin-top: 20px;
	font-weight: 600;
}
.blue_btn1:hover
{
	background: #eb7650;
}
.round_btn
{
	border-radius:100%;
	height:40px;
	width:40px;
	padding:2px;
	margin:0px;
	line-height:40px;
}
.blue_btn.black_btn 
{
    background: #2c2c2c;
}
.top_form
{
	padding-bottom: 20px;
}
.top_form .yellow_btn 
{
	height: 39px;
	margin: 0;
	vertical-align: middle;
	padding: 6px 35px;
	font-size: 18px;
}
.custom_select .fstElement
{
	display: block;
	font-size: 12px;
	border-radius: 5px;
}
.custom_select .fstElement .fstControls
{
	width: 100%;
}
.custom_select .fstElement .fstControls .fstQueryInput
{
	color:#000;
	padding: 5px;
}
.custom_select .fstChoiceItem, .custom_select .fstResultItem.fstSelected, .custom_select .fstResultItem.fstFocused
{
	background-color: #2e4485;
	border-color:#2e4485;
}
.white_box
{
	background: #fff;
	padding: 15px;
	border-radius: 2px;
}
.table-responsive table thead tr th
{
	color: #2e4485;
	font-size: 14px;
	font-weight: 700;
	border-bottom: 2px solid #2e4485;
	text-transform: uppercase;
	padding: 10px;
}
.table-responsive table tbody tr td
{
	color: #242424;
	font-size: 14px;
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
	padding: 12px 10px;
}
.table-responsive table tbody tr td:last-child
{
	border-right: none;
}
.table-responsive table tbody tr:nth-child(2n) td
{
	background:#eeeef3;
}
.action_btn
{
	color:#242424;
	font-size:18px;
	display: inline-block;
	margin: 0 5px;
}
.action_btn:hover
{
	color:#f1a732;
}