<h2>Settings</h2>

    <div class="content_area" style="background: #eaeaea;">
    <div class="top3_area">
				<div class="row">
					<aside class="col-lg-3">
						<div class="white_three" routerLink="/managers" [routerLinkActive]="['router-link-active']">
							<span style="background:#0cc2aa;"><i class="fa fa-address-book" aria-hidden="true"></i></span>
							<p  class="text-uppercase">Managers</p>
						</div>
					</aside>
					<aside class="col-lg-3">
						<div class="white_three" routerLink="/members" [routerLinkActive]="['router-link-active']">
							<span style="background:#2e4485;"><i class="fa fa-info-circle" aria-hidden="true"></i></span>
							<p class="text-uppercase">Member Management</p>
						</div>
					</aside>
					<aside class="col-lg-3">
						<div class="white_three" routerLink="/church" [routerLinkActive]="['router-link-active']">
							<span style="background:#721c24;"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
							<p class="text-uppercase">Logo/ Church/ Welcome page</p>
						</div>
					</aside>
					<aside class="col-lg-3">
						<div class="white_three" routerLink="/socialshare" [routerLinkActive]="['router-link-active']">
							<span style="background:#FF6347;"><i class="fa fa-share-square-o" aria-hidden="true"></i></span>
							<p class="text-uppercase">Social Introductory Content</p>
						</div>
					</aside>
				</div>
			</div>
		</div>

